name: galactic Build and Test

on:
  push:
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
      - 'images/**'
      - '**/*.png'
      - '**/*.jpg'
      - '.gitignore'
  pull_request:
  schedule:
    - cron: "0 5 * * 1"
  release:
    types: [created, published]

permissions:
  contents: read
  packages: read

jobs:
  build_and_test_ros2_galactic:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/robotics-research-group-kul/crospi-build-test:galactic
    steps:
      - name: Checkout repository with submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure GitHub token for HTTPS cloning
        run: |
          git config --global url."https://${{ secrets.GITHUB_TOKEN }}:x-oauth-basic@github.com/".insteadOf "https://github.com/"

      - name: Build and Test
        uses: ros-tooling/action-ros-ci@v0.4
        env:
          BOOST_189_ROOT: /opt/boost/1.89.0
        with:
          package-name: etasl_wrapper crospi_core crospi_interfaces 
          target-ros2-distro: galactic
          skip-tests: true
          coverage-result: false
