name: Docker test kilted - Build & Push Docker Images for ROS2 kilted

on:
  push:
    branches: [ main ]
    paths:
      - .docker/build_test/kilted/Dockerfile

  release:
    types: [published]

permissions:
  contents: read
  packages: write

jobs:
  build-base:
    name: Build & Push Base Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push base image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: .docker/build_test/kilted/Dockerfile
          push: true
          tags: |
            ghcr.io/robotics-research-group-kul/crospi-build-test:kilted
            ghcr.io/robotics-research-group-kul/crospi-build-test:kilted-${{ github.sha }}
