name: Build & Push Docker Images (ROS Humble)

on:
  push:
    branches: [ main ]
    paths:
      - .docker/build_test/humble/Dockerfile

  release:
    types: [published]

permissions:
  contents: read
  packages: write

jobs:
  build-base:
    name: Build & Push Base Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push base image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: .docker/build_test/humble/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/crospi-base:humble
            ghcr.io/${{ github.repository_owner }}/crospi-base:humble-${{ github.sha }}
